footer {
  border-top: 1px solid rgb(204, 202, 202);
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  display: grid;
  place-items: center;
  color: #fff;
}
footer p{
  margin: 0;
  text-align: center;
}