.services__wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.services__wrapper .prev-btn,
.services__wrapper .next-btn {
  position: absolute;
  top: 40%;
  bottom: 40%;
  cursor: pointer;
  z-index: 50;
}
.services__wrapper .prev-btn {
  left: 1rem;
}
.services__wrapper .next-btn {
  right: 1rem;
}
.services__slider {
  max-width: 80%;
  margin: 2rem auto;
  overflow: hidden;
}
.cards__wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  transition: 0.4s ease-in-out;
}
.service {
  min-width: 100%;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--surface-color);
  border-radius: 1rem;
  transition: 0.4s;
}

.service-title {
  color: var(--text-color);
  padding: 1rem 0;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
}
.service-text {
  color: var(--text-color);
  text-align: center;
  padding: 0 0.6rem;
}
